{
  "presets": ["@babel/preset-env"],
  "plugins": [
    "@babel/transform-runtime",
    "@babel/plugin-syntax-dynamic-import",
    [
      "module-resolver",
      {
        "root": ["./visual"],
        "alias": {
          "~": "./visual",
          "Constants": "./logic/constants.ts",
          "Settings": "./visual/modules/gameSettings.ts"
        }
      }
    ]
  ]
}
