{
  "presets": [
    "@babel/preset-env"
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    [
      "module-resolver",
      {
        "root": [
          "./src"
        ],
        "alias": {
          "~": "./src",
          "Settings": "./src/modules/gameSettings.ts",
          "Consts": "./src/consts/consts.ts"
        }
      }
    ]
  ]
}