{
  "presets": ["@babel/preset-env"],
  "plugins": [
    "transform-object-rest-spread",
    "@babel/plugin-syntax-dynamic-import",
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "~": "./src",
        "Utils": "./src/utils/Utils.ts",
        "Settings": "./src/modules/gameSettings.ts"
      }
    }]
  ]
}
