.map-creator {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 20px;
  gap: 20px;
  display: grid;
  grid-template: minmax(0, 1fr) / 100px minmax(0, 1fr) 100px;
  /* same problem as flex minimum width/height: auto
  instead of using min-width/height = 0 we can assign it here for grid-template*/

  [event-catcher] {
    cursor: pointer;

    * {
      pointer-events: none;
    }
  }

  .platform-vars {
    --half-size: calc(var(--size) / 2);
    --o:calc(var(--half-size) * tan(-22.5deg)); /* vertical/horizontal distance from middle of octagon to closes corner */
    --border-width: 10px;
    --border-color: rgb(255, 132, 71);

    --fill-color: #ddaf30;
    --accent-color: rgb(148, 0, 185);

    --inner-size: calc(var(--size) - 2 * var(--border-width));
  }
  
  [kind="platform"] {
    position: relative;
    width: var(--size);
    height: var(--size);
  }

  *:is([kind="platform"], [kind="bridge-edge"]).size-var {
    --size: 100px;
  }

  .toolbar {
    background: #222;
    display: flex;
    flex-direction: column;
    position: relative;

    .toolbar-box {
      height: 100px;
      padding: 10px;

      .size-var { /* this class is used only to override size variable */
        --size: 80px; /* selector s very specific so overrides */
      }
    }
  }

  .map-area {
    background: #222;
    position: relative;
    max-width: 100%;
    max-height: 100%;
  }

  .octagon, .octagon:before {
    height: 100%;
    width: 100%;
    padding: var(--border-width);
    
    clip-path: polygon(
      var(--o) var(--half-size),
      var(--half-size) var(--o),
      calc(100% - var(--o)) var(--half-size),
      var(--half-size) calc(100% - var(--o))
    );
    background: var(--fill-color);
  }

  .octagon-inner {
    --size: var(--inner-size);
    height: 100%;
  }

  [event-catcher].octagon:hover {
    background: var(--border-color);
  }

  [kind]:not([reproduce]) {
    position: absolute;
  }

  [kind="bridge-edge"] {
    --anchor-point-size: 10px;
    --width: calc(-2 * var(--o));

    position: absolute;

    height: 0;
    width: 0;

    &.active {
      pointer-events: none;
      outline: 5px solid red;
    }
    &.accept { /* I dont think we need that, it's invisible, hidden behind other .active */
      outline: 5px solid green;
    }

    .anchor-point {
      z-index: 1;

      &:nth-of-type(1) {
        left: var(--o);
      }

      &:nth-of-type(2) {
        right: var(--o);
      }
    }
  
    [event-catcher] {
      /* if we want to make event catcher bigger while snapping we need to:
        1. Make everything "pointer-events: none" expect available kind option
        2. Split visual part and event catcher into two separate elements
      */
      --padding: 3px;
      --height: calc(var(--anchor-point-size) + 2 * var(--padding));

      position: absolute;
      width: calc(var(--width) + var(--anchor-point-size) + 2 * var(--padding));
      height: var(--height);
      translate: -50% -50%;
      border-radius: calc(var(--height) / 2);
      color: var(--accent-color);
      background: currentColor;

      &:hover {
        outline: solid 5px hsl(from var(--accent-color) calc(h + 10) calc(s * 1.2) calc(l * 1.2));
      }
    }

    &.valid-option [event-catcher] {
      outline: solid 8px greenyellow;
    }
  }

  .bridge-edge-verticlar {
    top: 50%;
  }

  .bridge-edge-horizontal {
    left: 50%;
  }

  .bridge-edge-top { top: 0; rotate: 0deg; }
  .bridge-edge-right {  right: 0; rotate: 90deg; }
  .bridge-edge-bottom { bottom: 0; rotate: 180deg; }
  .bridge-edge-left { left: 0; rotate: 270deg; }


  .bridge-preview {
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;
    width: 100px;
    background: tomato;
    pointer-events: none;
  }
}

.control-panel {
  align-self: end;
}

.anchor-point {
  pointer-events: none;
  position: absolute;

  &:before {
    content: "";
    display: block;
    width: var(--anchor-point-size);
    height: var(--anchor-point-size);
    margin: calc(var(--anchor-point-size) / -2);
    border-radius: 50%;
    background: rgb(220, 82, 255);
  }
}


[kind="factory"] {
  &.size-var {
    --size: 50px;
  }

  position: relative;
  width: var(--size);
  height: var(--size);

  .factory {
    width: 100%;
    height: 100%;
    background-color: lime;
    border-radius: 50%;
  }

  [kind="factory-arrow"] {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
  }

  .factory-arrow {
    --width: calc(var(--size) * .7);
    --height: calc(var(--width) * 0.2);

    position: relative;
    top: calc(-1 * var(--height));
    left: calc(-.5 * var(--height));
    width: var(--width);
    height: calc(var(--size) * 0.25);
    border-radius: 10px;
    background: #fff;;

    &:before {
      position: absolute;
      right: calc(-.5 * var(--height));
      top: calc(-1 * var(--height));

      --head-size: calc(var(--height) * 2);
      content: "";
      display: block;
      width: 0px;
      height: 0px;
      border-top: var(--head-size) solid transparent;
      border-bottom: var(--head-size) solid transparent;
      border-left: var(--head-size) solid #fff;
    }
  }
}